*{
    margin: 0%;
    padding:0%;
    font-family: sans-serif;
    font: medium;
    
}
html,body{
    height: 100%;
    weight:100%;
}
#main{
    position: relative;
    overflow:hidden;
}
#page{
    position: relative;
    height: 100%;
    width: 50%;
    background-color:bisque;

}
#page>img{
    position: absolute;
    left:100% ;
    top: 52%;
    transform:translateY(-50%);
    width:50%;
   
}
#page>#nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0px 100px;
    margin: 0px 200px;
    position: absolute;
    z-index: 9;
    height: 10%;
    width:100%;
}
#page>text{
    padding: 30px 50px;
    position: relative;
    left:8%;
    top:18%;
    height: 75%;
    width: 35%;
}
#text>h1{
    margin-top:20px ;
    line-height: 1;
    font-size: 60px;
}
#text>h4{
    margin-top: 10px;
    color: black;
    font-size: small;
    font-weight: lighter;

}

#button>button>a{
    
color: black;
font-size: large;

   
   
}


#button>#b2{
    margin-left: 20px;
    
    padding-top: 5px;
    margin-inline-end: 20px;
    background-color:white;
}
#button>#b3{
    margin-left: 20px;
    
    padding-top: 5px;
    background-color:white;
}
